.Auth {
    display: flex;
    align-items: center;
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .titlebox {
            padding: 20px;
            padding-top: 50px;
            width: 800px;
            color: white;
            text-align: center;
            .title {
                font-size: 70pt;
                font-weight: 800;
                text-shadow: 6px 0px gray;
            }
            .subtitle {
                margin-top: 10px;
                font-size: 20pt;
                font-weight: 700;
            }
            .descriptionbox {
                margin-top: 30px;
                .desc {
                    margin-top: 8px;
                }
                margin-bottom: 20px;
            }
        }

        .loginbox {
            background-color: rgb(245, 245, 245);
            width: 450px;
            min-height: 500px;
            border-radius: 40px;
            border: 1px solid gray;
            box-shadow: 10px 0px gray;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            .login {
                display: flex;
                flex-direction: column;
                align-items: center;
                .title {
                    font-size: 15pt;
                    font-weight: 700;
                    color: #1e1e1e;
                    margin-bottom: 20px;
                }
            }

            hr {
                width: 300px;
                // margin: 40px;
            }

            .email.login {
                margin-top: 50px;

                .inputbox {
                    position: relative;

                    input {
                        background-color: rgb(245, 245, 245);
                        width: 300px;
                        padding: 10px;
                        font-size: 17px;
                        border: 1px solid gray;
                        border-radius: 5px;
                        outline: none;
                        margin-bottom: 15px;
                        transition: 0.25s;
                    }

                    span {
                        background-color: rgb(245, 245, 245);
                        position: absolute;
                        left: 0;
                        margin: 11px;
                        font-size: 15px;
                        transition: 0.25s;
                        pointer-events: none;
                    }

                    // input::placeholder {
                    //     color: rgb(245, 245, 245);
                    //     transition-delay: 0.25s;
                    //     transition: 0.25s;
                    // }

                    input:focus {
                        border: 1px solid rgba(0, 0, 255, 0.8);
                    }

                    input:focus ~ span,
                    input:valid ~ span {
                        color: rgb(0, 0, 255);
                        transform: translateX(5px) translateY(-20px);
                        // background-color: rgb(245, 245, 245);
                        padding: 0;
                        padding-left: 5px;
                        padding-right: 5px;
                        border-left: 1px solid blue;
                        border-right: 1px solid blue;
                        font-size: 15px;
                    }

                    input:not(:focus):valid ~ span {
                        color: #1e1e1e;
                        border-left: 1px solid gray;
                        border-right: 1px solid gray;
                    }

                    // input:focus::placeholder {
                    //     color: gray;
                    // }
                }

                button {
                    width: 322px;
                    height: 35px;
                    font-size: 15px;
                    font-weight: 700;
                    border: 0px;
                    background-color: #1e1e1e;
                    border-radius: 5px;
                    color: white;

                    input {
                        border: none;
                        background-color: #1e1e1e;
                        font-size: 15px;
                        font-weight: 700;
                        color: white;
                    }
                }
            }
            .join {
                margin-top: 5px;
                color: #1e1e1e;
                font-size: 15px;
            }
            .social.login {
                margin-bottom: 40px;
                button {
                    width: 322px;
                    height: 40px;
                    font-size: 15px;
                    font-weight: 700;
                    border: 0px;
                    background-color: #1e1e1e;
                    border-radius: 5px;
                    margin-top: 10px;
                    color: white;
                }
                // button.kakao {
                //     background-color: #fee500;
                //     color: rgb(37, 42, 45);
                // }
                button.google {
                    background-color: rgb(79, 115, 242);
                    color: white;
                }
                button.github {
                    background-color: #383838;
                    color: white;
                }
            }
        }
    }
}
