.Login {
    display: flex;
    align-items: center;
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .titlebox {
            padding: 20px;
            padding-top: 100px;
            width: 800px;
            color: white;
            text-align: center;
            .title {
                font-size: 70pt;
                font-weight: 800;
                text-shadow: 6px 0px gray;
            }
            .subtitle {
                margin-top: 10px;
                font-size: 20pt;
                font-weight: 700;
            }
            .descriptionbox {
                margin-top: 30px;
                .desc {
                    margin-top: 8px;
                }
                margin-bottom: 20px;
            }
        }
    }
}
